.o_lunch_choice {
    display: flex;
    height: 48px;
    .o_choice {
        flex: 1;
        padding-top: 10px;
        margin-left: 2px;
    }
    .o_choice {
        &.active {
            background-color: lightblue !important;
        }
        &:hover {
            background-color: #eeeeee;
        }
        &:not(.active) {
            color: #808080;
        }
    }
}
