.o_lunch_choice {
    display: flex;
    height: 48px;
    .o_choice {
        flex: 1;
        padding-top: 10px;
        margin-left: 2px;
    }
    .o_choice {
        &.o_ordered {
            background-color: #1d749d !important;
            color: white !important;
        }
        &.active {
            background-color: lightblue !important;
        }
        &:hover {
            background-color: #eeeeee;
        }
        &:not(.active) {
            color: #808080;
        }
    }
}

.oe_website_sale {
    .div_street2 {
        display: none;
    }
}

table.o_lunch_agenda {
    width: 100%;
    td {
        vertical-align: top;
    }
    .o_agenda_head {
        width: 100%;
        background: #E8E8E8;

    }
    .o_no_meal {
        height: 85px;
        width: 100%;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .o_cal_col_1  { background: #F0605060; }
    .o_cal_col_2  { background: #F4A46060; }
    .o_cal_col_3  { background: #F7CD1F60; }
    .o_cal_col_4  { background: #6CC1ED60; }
    .o_cal_col_5  { background: #81496860; }
    .o_cal_col_6  { background: #EB7E7F60; }
    .o_cal_col_7  { background: #2C839760; }
    .o_cal_col_8  { background: #47557760; }
    .o_cal_col_9  { background: #D6145F60; }
    .o_cal_col_10 { background: #30C38160; }
    .o_cal_col_11 { background: #9365B860; }



}
